main{
    display: flex;
    height: 100vh;  /*vh means vertical height- 100 means 100%*/
}
header{
    
    background-color: green;
}

#list{
    background-color: aqua;
    flex: 2;
    border: 5px solid white;
}

#form{
    background-color:orange;
    flex: 2;
    padding: 10px;
    border: 5px solid white;
}
.task{
    border: 5px solid orange; /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Space inside the box */
    margin: 10px; /* Space around the box */
    background-color: #f9f9f9; /* Background color */
}
.splash-regular {
    font-family: "Splash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    color: orange;
    text-align: center;
}
.splash-regular1 {
    font-family: "Splash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: aqua;
    text-align: center;
}
.splash-regular3 {
    font-family: "Splash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: orange;
    text-align: center;
}